html {
    background-color: #424242;
    color: white;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 800px;
}

.bingo {
    display: flex;
    background-color: #277ef7;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 500%;
}

button {
    display: flex;
    color: white;
    background-color: #277ef7;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    border-radius: 20px;
}

.filler {
    display: grid;
    color: white;
    background-color: #277ef7;
    border-radius: 20px;
    grid-column: span 3;
    width: 90%;
}

@media (width < 680px) {
    .container {
        width: 680px;
        gap: 15px;
    }
    
    .filler {
        width: 100%
    }
    
    button {
        width: 75%;
        height: 100%;
        font-size: 100%;
    }

    .bingo{
        width: 75%;
        height: 100%;
        font-size: 100%;
    }
}

